<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Homepage</title>
</head>
<body>
    <h1>Brands:</h1>
    {%for i in companies%}
    <div class ='container'>
        <h3>{{i.name}} Brand.</h3>
        <div>
            <a href="{{url_for('editCompanies', company_id = i.id)}}">Edit</a>
            <a href="{{url_for('deleteCompanies', company_id = i.id)}}">Delete</a>
        </div>
        <br>
    
    </div>
    {%endfor %}

    <h1>Autos:</h1>
    {%for i in autos%}
    <div class ='container'>
        <h3>{{i.name}} Auto.</h3>
        <br>
    
    </div>
    {%endfor %}
    

    
</body>
</html> -->

{%extends 'base.html'%}
{%block title%} Catalog {% endblock title%}
{%block content%}
<h1>Create New Brand: <a class="btn btn-primary" role="button" href="{{url_for('newCompany')}}">New Brand</a></h1>
<h2>Brands:</h2>
{%for i in companies%}
<div class ='container'>
    <h3>{{i.name}} Brand.</h3>
    <div>
        <a class="btn btn-primary" href="{{url_for('showAutos', company_id = i.id)}}" role="button">{{i.name}}</a>
        <a class="btn btn-primary" href="{{url_for('editCompanies', company_id = i.id)}}" role="button">Edit</a>
        <a class="btn btn-primary" href="{{url_for('deleteCompanies', company_id = i.id)}}" role="button">Delete</a>
    </div>
    <br>

</div>
{%endfor %}

<h1>Autos:</h1>
{%for i in autos%}
<div class ='container'>
    <h3>{{i.name}} Auto.</h3>
    <br>

</div>
{%endfor%}
{%endblock%}
