<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Auto</title>
</head>
<body>
    <h1>Edit Auto {{editCar.name}}</h1>
    <form action= "{{ url_for('editAuto' , company_id = company_id , car_id = car_id) }}" method = 'POST'>
    
    <p>Name:</p>
    <input type = 'text' size='50' name = 'name' placeholder="{{editCar.name}}" required>
    <p>Specifications:</p>
    <input type = 'text' size='50' name = 'Specifications' placeholder="{{editCar.Specifications}}" required>
    <p>Price:</p>
    <input type = 'text' size='50' name = 'price' placeholder="{{editCar.price}}" required>
    <br><br>
    <input type='submit' value='Edit'>
    </form>
    <a href= "{{url_for('showAutos', company_id = company_id)}}">Cancel</a>

</body>
</html> -->
{%extends 'base.html'%}
{%block title%} Edit Auto {% endblock title%}
{%block content%}
<h1>Edit Auto: {{editCar.name}}</h1>
<form action= "{{ url_for('editAuto' , company_id = company_id , car_id = car_id) }}" method = 'POST'>

<p>Name:</p>
<input type = 'text' size='50' name = 'name' placeholder="{{editCar.name}}">

<p>Specifications:</p>
<input type = 'text' size='50' name = 'Specifications' placeholder="{{editCar.Specifications}}">

<p>Price:</p>
<input type = 'text' size='50' name = 'price' placeholder="{{editCar.price}}">
<br><br>
<input class="btn btn-primary" role="button" type='submit' value='Edit'>
<br>
</form>
<br>
<a  class="btn btn-danger" role="button" href= "{{url_for('showAutos', company_id = company_id)}}">Cancel</a>




{%endblock%}