<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new Auto</title>
</head>
<body>
    <h1>New Auto</h1>
    <form action="{{url_for('newAuto', company_id=company_id )}}" method = 'POST'>
        <p>name:</p>
        <input type='text' size='50' name='name' required>
        <p>Specifications:</p>
        <input type='text' size='50' name='Specifications' required>
        <p>price:</p>
        <input type='text' size='50' name='price' required>
        <br>
        <br>
        <input type='submit' value='Create'>
    </form>
    <a href= "{{url_for('showAutos', company_id = company_id)}}">Cancel</a>
</body>
</html> -->
{%extends 'base.html'%}
{%block title%} New Auto {% endblock title%}
{%block content%}
<h1>New Auto</h1>
<form action="{{url_for('newAuto', company_id=company_id )}}" method = 'POST'>
    <p>name:</p>
    <input type='text' size='50' name='name'>
    <p>Specifications:</p>
    <input type='text' size='50' name='Specifications'>
    <p>price:</p>
    <input type='text' size='50' name='price'>
    <br>
    <br>
    <input class="btn btn-primary" type='submit' value='Create' role="button">
    <br>
</form>
<br>
<a class="btn btn-danger" href= "{{url_for('showAutos', company_id = company_id)}}" role="button">Cancel</a>

{%endblock%}