<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new company</title>
</head>
<body>
    <h1>New Brand</h1>
    <form class='container' action="{{url_for('newCompany')}}" method = 'POST'>
        <input type="text" size="50" name="name" required>
        <br>
        <input type="submit" value="Create">
        <br>
    </form>
    <a href="{{url_for('showCatalog')}} ">Cancel</a>
</body>
</html> -->
{%extends 'base.html'%}
{%block title%} Creat Brand {% endblock title%}
{%block content%}

<h1>New Brand</h1>
<form action="{{url_for('newCompany')}}" method = 'POST'>
    <input type="text" size="50" name="name">
    <br><br>
    <input class="btn btn-primary" role="button" type="submit" value="Create">
    <br>
</form>
<br>
<a class="btn btn-danger" role="button" href="{{url_for('showCatalog')}} ">Cancel</a>


{%endblock%}